{% if header_comments %}
{{ header_comments }}

{% endif %}
import os
import sys
sys.path.append("/mapr/Edfdev.kenanga.local/EDF/py_script")

from etl_common_function import run_etl, set_parameter, drop_partition_day
from pyspark.sql.functions import current_timestamp, lit
from datetime import datetime

source_name = "{{ source_name }}"
table_name = "{{ table_name }}"
hive_table_name = source_name + "_" + table_name
partition_col = "etl_dt"

# spark session
spark, ext_start_time, ext_end_time, today_date, yesterday_date = run_etl(source_name, table_name)
batch_date = today_date
last_date = yesterday_date
batch_yyyymm = batch_date[:-2]

# ext_start_time = datetime.strptime(ext_start_time, '%Y-%m-%d %H:%M:%S.%f').strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3]
# ext_end_time = datetime.strptime(ext_end_time, '%Y-%m-%d %H:%M:%S.%f').strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3]

# set parameter, call parameter by params["<parameter name>"]
params = set_parameter(spark)



{% for block in optimized_blocks %}
{% if block.type == 'jdbc_read' %}
# -- JDBC Read Optimization cho bảng {{ block.source_db_table }} --
jdbc_url = (
    f"jdbc:sqlserver://{os.environ['MSSQL_HOST']}:{os.environ.get('MSSQL_PORT', '1433')};"
    f"databaseName={os.environ['MSSQL_DB']};encrypt=true;trustServerCertificate=true"
)
user = os.environ["MSSQL_USER"]
password = os.environ["MSSQL_PASSWORD"]

query = """
{{ block.query }}
"""

# Read from MSSQL
df = (
    spark.read
    .format("jdbc")
    .option("url", jdbc_url)
    .option("query", query)
    .option("user", user)
    .option("password", password)
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")
    .option("fetchsize", "10000")
    .load()
)

df = df.withColumn("etl_timestamp", current_timestamp().cast("string"))
df = df.withColumn("etl_dt", lit(batch_date))

# add queries here
{% elif block.type == 'query' %}
spark.sql(rf"""
{{ block.content | comment_formatting }}
""")
{% elif block.type == 'comment' %}
"""
{{ block.content | comment_formatting }}
"""
{% endif %}

{% endfor %}

# Write directly to Hive
target_table = f"{params['raw_schema']}.{hive_table_name}"
target_cols = spark.table(target_table).columns
df = df.select(*target_cols)

(
    df.write
    .mode("overwrite")
    .insertInto(f"{params['raw_schema']}.{hive_table_name}")
)

# Stop Spark when done
spark.stop()