{% if header_comments %}
{{ header_comments }}

{% endif %}import os
import sys
import os
sys.path.append(os.environ["sys_path_py_script"])

from etl_common_function import run_etl_cur, set_parameter

source_name = "cur"
table_name = "{{ source_name }}_{{ table_name }}"
hive_table_name = source_name + "_" + table_name

# spark session
spark, batch_date = run_etl_cur(source_name, table_name)

# set parameter, call parameter by params["<parameter name>"]
params = set_parameter(spark)


{% if is_partitioned %}

# housekeep partition if required
drop_partition_day(spark, batch_date, params["raw_schema"], table_name, "etl_dt", params.get("retention_raw_delta", 14))
{% endif %}

# add queries here
{% for query in transformed_queries %}
    {% if query.type == 'query' %}
spark.sql(rf"""
{{ query.content | comment_formatting }}
""")
    {% elif query.type == 'comment' %}
"""
{{ query.content | comment_formatting }}
"""
{% endif %}


{% endfor %}


spark.sql(f"""
    ANALYZE TABLE {params["cur_schema"]}.{{ source_name }}_{{ table_name }} PARTITION (etl_dt ='{batch_date}') COMPUTE STATISTICS
""")

# Stop Spark when done
spark.stop()
