{% if header_comments %}
{{ header_comments }}

{% endif %}import os
import sys
sys.path.append("/mapr/Edfdev.kenanga.local/EDF/py_script")

from etl_common_function import run_etl, set_parameter, drop_partition_day
from pyspark.sql.functions import current_timestamp, lit
from datetime import datetime

source_name = "mhbos"
table_name = "m_client"
hive_table_name = source_name + "_" + table_name
partition_col = "etl_dt"

# spark session
spark, ext_start_time, ext_end_time, today_date, yesterday_date = run_etl(source_name, table_name)
batch_date = today_date


# set parameter, call parameter by params["<parameter name>"]
params = set_parameter(spark)


{% if is_partitioned %}

# housekeep partition if required
drop_partition_day(spark, batch_date, params["raw_schema"], table_name, "etl_dt", params.get("retention_raw_delta", 14))
{% endif %}

# add queries here
{% for query in transformed_queries %}
spark.sql(f"""
{{ query }}
""")

{% endfor %}


# Stop Spark when done
spark.stop()
