{% if header_comments %}
{{ header_comments }}

{% endif %}
import os
import sys
from pyspark.sql.functions import col, trim, when, current_timestamp, lit

sys.path.append(os.environ["sys_path_py_script"])

from etl_common_function import run_etl, set_parameter, drop_partition_day
from datetime import datetime

source_name = "{{ source_name }}"
table_name = "{{ table_name }}"
hive_table_name = source_name + "_" + table_name
partition_col = "etl_dt"

# spark session
spark, ext_start_time, ext_end_time, today_date, yesterday_date = run_etl(source_name, table_name)
batch_date = today_date

# set parameter, call parameter by params["<parameter name>"]
params = set_parameter(spark)


{% for block in optimized_blocks %}
{% if block.type == 'generate_jdbc_read' %}
# -- JDBC Read for table {{ block.source_db_table }} --
jdbc_url = (
    f"jdbc:sqlserver://{os.environ['MSSQL_HOST']}:{os.environ.get('MSSQL_PORT', '1433')};"
    f"databaseName={os.environ['MSSQL_DB']};encrypt=true;trustServerCertificate=true"
)
user = os.environ["MSSQL_USER"]
password = os.environ["MSSQL_PASSWORD"]

query = rf"""
    {{ block.query | indent(4) }}
"""

# Read from MSSQL
df = (
    spark.read
    .format("jdbc")
    .option("url", jdbc_url)
    .option("query", query)
    .option("user", user)
    .option("password", password)
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")
    .option("fetchsize", "10000")
    .load()
)


# housekeep partition if required
drop_partition_day(spark, batch_date, params["raw_schema"], hive_table_name, partition_col, params["retention_raw_delta"])

# String cleansing
transform_exprs = [
    when(trim(col(c)) == "", None).otherwise(trim(col(c))).alias(c) if t == "string" else col(c)
    for c, t in df.dtypes
]

df = df.select(*transform_exprs)

# Add etl_timestamp and etl_dt
df = df.withColumn("etl_timestamp", current_timestamp().cast("string"))
df = df.withColumn("etl_dt", lit(batch_date))


# Write directly to Hive
target_table = f"{params['raw_schema']}.{hive_table_name}"
target_cols = spark.table(target_table).columns
df = df.select(*target_cols)

(
    df.write
    .mode("overwrite")
    .insertInto(target_table)
)


# add queries here
{% elif block.type == 'query' %}
spark.sql(rf"""
{{ block.content | comment_formatting  | indent(4) }}
""")
{% elif block.type == 'comment' %}
"""
{{ block.content | comment_formatting  | indent(4) }}
"""
{% endif %}

{% endfor %}

# Stop Spark when done
spark.stop()