USE [DataLake]
GO

/****** Object:  Table [dbo].[Account]    Script Date: 8/10/2025 2:35:37 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Account](
	[ACCOUNT_ID] [varchar](50) NOT NULL,
	[SOURCE_ACCOUNT_ID] [varchar](50) NULL,
	[SOURCE_NAME] [varchar](10) NULL,
	[ACCOUNT_STATUS] [varchar](20) NULL,
	[ACCOUNT_CATEGORY] [varchar](50) NULL,
	[CUSTOMER_ID] [varchar](20) NULL,
	[ACCOUNT_NAME_FULL] [varchar](250) NULL,
	[ACCOUNT_TYPE] [varchar](5) NULL,
	[ACCOUNT_CLIENT_TYPE] [varchar](5) NULL,
	[CLR_ACCOUNT_ID] [varchar](20) NULL,
	[ISLAMIC_FLAG] [varchar](1) NULL,
	[AGENT_ID] [varchar](20) NULL,
	[HOME_BRANCH_ID] [varchar](20) NULL,
	[CDS_ACCOUNT_ID] [varchar](20) NULL,
	[DISPATCH_MODE] [varchar](1) NULL,
	[ACCOUNT_CREATION_DATE] [date] NULL,
	[ACCOUNT_CLOSED_DATE] [date] NULL,
	[JOMPAY_REFERENCCE_CODE] [varchar](20) NULL,
	[ACCOUNT_PROHIBITION_TYPE] [varchar](20) NULL,
	[ACCOUNT_PROHIBITION_DATE] [date] NULL,
	[ACCOUNT_PROHIBITION_USER_ID] [varchar](20) NULL,
	[ACCOUNT_PROHIBITION_REMARKS] [varchar](100) NULL,
	[TRADING_ACCOUNT_PRODUCT_TYPE] [varchar](50) NULL,
	[LINE_OF_BUSINESS] [varchar](20) NULL,
	[ACCOUNT_PAYEE_NAME] [varchar](100) NULL,
	[ACCOUNT_REMARKS_1] [varchar](100) NULL,
	[ACCOUNT_REMARKS_2] [varchar](100) NULL,
	[ACCOUNT_REMARKS_3] [varchar](100) NULL,
	[ACCOUNT_STOP_PAYMENT_FLAG] [varchar](1) NULL,
	[JOINT_ACCOUNT_FLAG] [varchar](1) NULL,
	[SUB_ACCOUNT_FLAG] [varchar](1) NULL,
	[NOMINEES_TYPE] [varchar](10) NULL,
	[PLEDGED_SECURITIES_FLAG] [varchar](1) NULL,
	[PRINCIPAL_NAME] [varchar](100) NULL,
	[INTERMEDIARY_NAME] [varchar](100) NULL,
	[BENEFICIARY_OWNER_NAME] [varchar](100) NULL,
	[BENEFICIARY_OWNER_ID_NO] [varchar](20) NULL,
	[BENEFICIARY_CUSTOMER_ID] [varchar](20) NULL,
	[ACCOUNT_APPLICATION_SOURCE] [varchar](10) NULL,
	[DCO_ONBOARD_DATE] [date] NULL,
	[LAST_TRANSACTION_DATE] [date] NULL,
	[CDS_BRANCH_CODE] [varchar](20) NULL,
	[ACCOUNT_ATTRIBUTE] [nvarchar](max) NULL,
	[ACCOUNT_ATTRIBUTE_TYPE] [nvarchar](max) NULL,
	[ACCOUNT_CLIENT_GROUP] [varchar](30) NULL,
	[W8BEN] [varchar](1) NULL,
	[W8BEN_EXPIRY_DATE] [datetime] NULL,
	[ACCOUNT_ENTITY] [varchar](10) NULL,
	[ACCOUNT_CLASSIFICATION] [nvarchar](5) NULL,
 CONSTRAINT [ACCOUNT_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO