USE [DataLake]
GO


/****** Object:  StoredProcedure [dbo].[sp_update_dm_account]    Script Date: 7/11/2025 2:51:56 PM ******/
DROP PROCEDURE [dbo].[sp_update_dm_account]
GO


/****** Object:  StoredProcedure [dbo].[sp_update_dm_account]    Script Date: 9/10/2025 10:56:04 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[sp_update_dm_account]
	@DATE_VALUE VARCHAR(10) = NULL
AS
BEGIN

SET NOCOUNT ON;

DECLARE @DATE_FILENAME VARCHAR(10) = ISNULL(@DATE_VALUE, (SELECT CONVERT(VARCHAR, GETDATE(), 112)))
DECLARE @FILE_PATH NVARCHAR(MAX) = [dbo].[fn_getGlobalParameter]('WORKING_PATH') + 'cur_ailab_dm_account_f.' + @DATE_FILENAME + '.dat'
DECLARE @BULK_INSERT NVARCHAR(MAX) = 
	'BULK INSERT [Staging].[DataLake].[Account]
	FROM ''' + @FILE_PATH + '''
     WITH (
         FIRSTROW = 1,
         FIELDTERMINATOR = ''0x01'',
         ROWTERMINATOR = ''0x0A'',
         BATCHSIZE = 10000,
		 CODEPAGE=''65001'',
         MAXERRORS = 2
     )'
BEGIN TRY  --Start of THROW...CATCH Block 
	-- Check if Staging Table exist and got value
	IF  EXISTS (SELECT * FROM Staging.sys.objects WHERE object_id = OBJECT_ID(N'[Staging].[DataLake].[Account]') AND type in (N'U'))
	BEGIN
		TRUNCATE TABLE [Staging].[DataLake].[Account];
	END
	-- Execute the bulk load query
	EXEC(@BULK_INSERT);

	--Merge query into Main Table
	MERGE [DataLake].[dbo].[Account] AS TARGET
	USING [Staging].[DataLake].[Account] AS SOURCE
	ON (TARGET.[ACCOUNT_ID]= SOURCE.[ACCOUNT_ID])
	WHEN MATCHED 
	  THEN UPDATE SET
		 TARGET.[SOURCE_ACCOUNT_ID]= SOURCE.[SOURCE_ACCOUNT_ID]
		,TARGET.[SOURCE_NAME]= SOURCE.[SOURCE_NAME]
		,TARGET.[ACCOUNT_STATUS]= SOURCE.[ACCOUNT_STATUS]
		,TARGET.[ACCOUNT_CATEGORY]= SOURCE.[ACCOUNT_CATEGORY]
		,TARGET.[CUSTOMER_ID]= SOURCE.[CUSTOMER_ID]
		,TARGET.[ACCOUNT_NAME_FULL]= SOURCE.[ACCOUNT_NAME_FULL]
		,TARGET.[ACCOUNT_TYPE]= SOURCE.[ACCOUNT_TYPE]
		,TARGET.[ACCOUNT_CLIENT_TYPE]= SOURCE.[ACCOUNT_CLIENT_TYPE]
		,TARGET.[CLR_ACCOUNT_ID]= SOURCE.[CLR_ACCOUNT_ID]
		,TARGET.[ISLAMIC_FLAG]= SOURCE.[ISLAMIC_FLAG]
		,TARGET.[AGENT_ID]= SOURCE.[AGENT_ID]
		,TARGET.[HOME_BRANCH_ID]= SOURCE.[HOME_BRANCH_ID]
		,TARGET.[CDS_ACCOUNT_ID]= SOURCE.[CDS_ACCOUNT_ID]
		,TARGET.[DISPATCH_MODE]= SOURCE.[DISPATCH_MODE]
		,TARGET.[ACCOUNT_CREATION_DATE]= SOURCE.[ACCOUNT_CREATION_DATE]
		,TARGET.[ACCOUNT_CLOSED_DATE]= SOURCE.[ACCOUNT_CLOSED_DATE]
		,TARGET.[JOMPAY_REFERENCCE_CODE]= SOURCE.[JOMPAY_REFERENCCE_CODE]
		,TARGET.[ACCOUNT_PROHIBITION_TYPE]= SOURCE.[ACCOUNT_PROHIBITION_TYPE]
		,TARGET.[ACCOUNT_PROHIBITION_DATE]= SOURCE.[ACCOUNT_PROHIBITION_DATE]
		,TARGET.[ACCOUNT_PROHIBITION_USER_ID]= SOURCE.[ACCOUNT_PROHIBITION_USER_ID]
		,TARGET.[ACCOUNT_PROHIBITION_REMARKS]= SOURCE.[ACCOUNT_PROHIBITION_REMARKS]
		,TARGET.[TRADING_ACCOUNT_PRODUCT_TYPE]= SOURCE.[TRADING_ACCOUNT_PRODUCT_TYPE]
		,TARGET.[LINE_OF_BUSINESS]= SOURCE.[LINE_OF_BUSINESS]
		,TARGET.[ACCOUNT_PAYEE_NAME]= SOURCE.[ACCOUNT_PAYEE_NAME]
		,TARGET.[ACCOUNT_REMARKS_1]= SOURCE.[ACCOUNT_REMARKS_1]
		,TARGET.[ACCOUNT_REMARKS_2]= SOURCE.[ACCOUNT_REMARKS_2]
		,TARGET.[ACCOUNT_REMARKS_3]= SOURCE.[ACCOUNT_REMARKS_3]
		,TARGET.[ACCOUNT_STOP_PAYMENT_FLAG]= SOURCE.[ACCOUNT_STOP_PAYMENT_FLAG]
		,TARGET.[JOINT_ACCOUNT_FLAG]= SOURCE.[JOINT_ACCOUNT_FLAG]
		,TARGET.[SUB_ACCOUNT_FLAG]= SOURCE.[SUB_ACCOUNT_FLAG]
		,TARGET.[NOMINEES_TYPE]= SOURCE.[NOMINEES_TYPE]
		,TARGET.[PLEDGED_SECURITIES_FLAG]= SOURCE.[PLEDGED_SECURITIES_FLAG]
		,TARGET.[PRINCIPAL_NAME]= SOURCE.[PRINCIPAL_NAME]
		,TARGET.[INTERMEDIARY_NAME]= SOURCE.[INTERMEDIARY_NAME]
		,TARGET.[BENEFICIARY_OWNER_NAME]= SOURCE.[BENEFICIARY_OWNER_NAME]
		,TARGET.[BENEFICIARY_OWNER_ID_NO]= SOURCE.[BENEFICIARY_OWNER_ID_NO]
		,TARGET.[BENEFICIARY_CUSTOMER_ID]= SOURCE.[BENEFICIARY_CUSTOMER_ID]
		,TARGET.[ACCOUNT_APPLICATION_SOURCE]= SOURCE.[ACCOUNT_APPLICATION_SOURCE]
		,TARGET.[DCO_ONBOARD_DATE]= SOURCE.[DCO_ONBOARD_DATE]
		,TARGET.[LAST_TRANSACTION_DATE]= SOURCE.[LAST_TRANSACTION_DATE]
		,TARGET.[CDS_BRANCH_CODE]= SOURCE.[CDS_BRANCH_CODE]
		,TARGET.[ACCOUNT_ATTRIBUTE]= SOURCE.[ACCOUNT_ATTRIBUTE]
		,TARGET.[ACCOUNT_ATTRIBUTE_TYPE]= SOURCE.[ACCOUNT_ATTRIBUTE_TYPE]
		,TARGET.[ACCOUNT_CLIENT_GROUP]= SOURCE.[ACCOUNT_CLIENT_GROUP]
		,TARGET.[W8BEN]= SOURCE.[W8BEN]
		,TARGET.[W8BEN_EXPIRY_DATE]= SOURCE.[W8BEN_EXPIRY_DATE]
		,TARGET.[ACCOUNT_ENTITY]= SOURCE.[ACCOUNT_ENTITY]
		,TARGET.[ACCOUNT_CLASSIFICATION]= SOURCE.[ACCOUNT_CLASSIFICATION]

	WHEN NOT MATCHED BY TARGET
	THEN INSERT(ACCOUNT_ID
		,SOURCE_ACCOUNT_ID
		,SOURCE_NAME
		,ACCOUNT_STATUS
		,ACCOUNT_CATEGORY
		,CUSTOMER_ID
		,ACCOUNT_NAME_FULL
		,ACCOUNT_TYPE
		,ACCOUNT_CLIENT_TYPE
		,CLR_ACCOUNT_ID
		,ISLAMIC_FLAG
		,AGENT_ID
		,HOME_BRANCH_ID
		,CDS_ACCOUNT_ID
		,DISPATCH_MODE
		,ACCOUNT_CREATION_DATE
		,ACCOUNT_CLOSED_DATE
		,JOMPAY_REFERENCCE_CODE
		,ACCOUNT_PROHIBITION_TYPE
		,ACCOUNT_PROHIBITION_DATE
		,ACCOUNT_PROHIBITION_USER_ID
		,ACCOUNT_PROHIBITION_REMARKS
		,TRADING_ACCOUNT_PRODUCT_TYPE
		,LINE_OF_BUSINESS
		,ACCOUNT_PAYEE_NAME
		,ACCOUNT_REMARKS_1
		,ACCOUNT_REMARKS_2
		,ACCOUNT_REMARKS_3
		,ACCOUNT_STOP_PAYMENT_FLAG
		,JOINT_ACCOUNT_FLAG
		,SUB_ACCOUNT_FLAG
		,NOMINEES_TYPE
		,PLEDGED_SECURITIES_FLAG
		,PRINCIPAL_NAME
		,INTERMEDIARY_NAME
		,BENEFICIARY_OWNER_NAME
		,BENEFICIARY_OWNER_ID_NO
		,BENEFICIARY_CUSTOMER_ID
		,ACCOUNT_APPLICATION_SOURCE
		,DCO_ONBOARD_DATE
		,LAST_TRANSACTION_DATE
		,CDS_BRANCH_CODE
		,ACCOUNT_ATTRIBUTE
		,ACCOUNT_ATTRIBUTE_TYPE
		,ACCOUNT_CLIENT_GROUP
		,W8BEN
		,W8BEN_EXPIRY_DATE
		,ACCOUNT_ENTITY
		,ACCOUNT_CLASSIFICATION)
	 VALUES(SOURCE.[ACCOUNT_ID]
			,SOURCE.[SOURCE_ACCOUNT_ID]
			,SOURCE.[SOURCE_NAME]
			,SOURCE.[ACCOUNT_STATUS]
			,SOURCE.[ACCOUNT_CATEGORY]
			,SOURCE.[CUSTOMER_ID]
			,SOURCE.[ACCOUNT_NAME_FULL]
			,SOURCE.[ACCOUNT_TYPE]
			,SOURCE.[ACCOUNT_CLIENT_TYPE]
			,SOURCE.[CLR_ACCOUNT_ID]
			,SOURCE.[ISLAMIC_FLAG]
			,SOURCE.[AGENT_ID]
			,SOURCE.[HOME_BRANCH_ID]
			,SOURCE.[CDS_ACCOUNT_ID]
			,SOURCE.[DISPATCH_MODE]
			,SOURCE.[ACCOUNT_CREATION_DATE]
			,SOURCE.[ACCOUNT_CLOSED_DATE]
			,SOURCE.[JOMPAY_REFERENCCE_CODE]
			,SOURCE.[ACCOUNT_PROHIBITION_TYPE]
			,SOURCE.[ACCOUNT_PROHIBITION_DATE]
			,SOURCE.[ACCOUNT_PROHIBITION_USER_ID]
			,SOURCE.[ACCOUNT_PROHIBITION_REMARKS]
			,SOURCE.[TRADING_ACCOUNT_PRODUCT_TYPE]
			,SOURCE.[LINE_OF_BUSINESS]
			,SOURCE.[ACCOUNT_PAYEE_NAME]
			,SOURCE.[ACCOUNT_REMARKS_1]
			,SOURCE.[ACCOUNT_REMARKS_2]
			,SOURCE.[ACCOUNT_REMARKS_3]
			,SOURCE.[ACCOUNT_STOP_PAYMENT_FLAG]
			,SOURCE.[JOINT_ACCOUNT_FLAG]
			,SOURCE.[SUB_ACCOUNT_FLAG]
			,SOURCE.[NOMINEES_TYPE]
			,SOURCE.[PLEDGED_SECURITIES_FLAG]
			,SOURCE.[PRINCIPAL_NAME]
			,SOURCE.[INTERMEDIARY_NAME]
			,SOURCE.[BENEFICIARY_OWNER_NAME]
			,SOURCE.[BENEFICIARY_OWNER_ID_NO]
			,SOURCE.[BENEFICIARY_CUSTOMER_ID]
			,SOURCE.[ACCOUNT_APPLICATION_SOURCE]
			,SOURCE.[DCO_ONBOARD_DATE]
			,SOURCE.[LAST_TRANSACTION_DATE]
			,SOURCE.[CDS_BRANCH_CODE]
			,SOURCE.[ACCOUNT_ATTRIBUTE]
			,SOURCE.[ACCOUNT_ATTRIBUTE_TYPE]
			,SOURCE.[ACCOUNT_CLIENT_GROUP]
			,SOURCE.[W8BEN]
			,SOURCE.[W8BEN_EXPIRY_DATE]
			,SOURCE.[ACCOUNT_ENTITY]
			,SOURCE.[ACCOUNT_CLASSIFICATION]);

END TRY


--Starting of CATCH Block, to insert the error into Log Table
BEGIN CATCH
	INSERT INTO Staging.ETL.Datalake_Log(
		TABLE_NAME
		,SOURCE_TABLE
		,ERROR_MESSAGE
		,ERROR_TIMESTAMP
		,IS_ERROR
		,LAST_UPDATE_DATE
		,LOG_TYPE)
	VALUES(
		'[DataLake].[dbo].[Account]'
		,'Curated'
		,ERROR_MESSAGE()
		,GETDATE()
		,1
		,GETDATE()
		,'SP_ERROR')
END CATCH;

--TO CALCULATE ROW COUNT
WITH CTE AS(
SELECT count(1) AS totalrow FROM [Staging].[DataLake].[Account]
)
	INSERT INTO Staging.ETL.Datalake_Log(
		TABLE_NAME
		,SOURCE_TABLE
		,ERROR_MESSAGE
		,ERROR_TIMESTAMP
		,IS_ERROR
		,LAST_UPDATE_DATE
		,LOG_TYPE
		,ROW_COUNT
		 )
	SELECT
		'[DataLake].[dbo].[Account]' AS TABLE_NAME
		,'Curated' AS SOURCE_TABLE
		,ERROR_MESSAGE() AS ERROR_MESSAGE
		,GETDATE() AS ERROR_TIMESTAMP
		,0 AS IS_ERROR
		,GETDATE() AS LAST_UPDATE_DATE
		,'ROW_COUNT' AS LOG_TYPE
		,totalrow AS ROW_COUNT
		FROM cte;
		
-- 20260119 Truncate staging table
TRUNCATE TABLE [Staging].[DataLake].[Account];
END
GO