-- Purpose:    COM-DML,Load the data file into the target table's same-day partition
-- Author:     {{ author }}
-- Usage:      python $ETL_HOME/script/main.py yyyymmdd com_r_{{ source }}_{{ table }}
-- CreateDate: {{ created_date }}
-- FileType:   DML
-- Logs:
--     1.for hive 3.x on cdp 7.1.5


-- 0.1 set parameter
source /jcmAgent/etlscript/execution_engine/autocode/dml/para_config/all_para.sql;

-- 2.1 drop partition
ALTER TABLE ${com_schema}.R_{{ source.upper() }}_{{ table.upper() }} DROP IF EXISTS PARTITION ( {% for col in partition_fields %}{{ col.name.upper() }} = {% raw %}'${batch_date}'{% endraw %}{% if not loop.last %}, {% endif %}{% endfor %} );

-- 2.2 insert data to target table
INSERT INTO TABLE ${com_schema}.R_{{ source.upper() }}_{{ table.upper() }} PARTITION ( {% for col in partition_fields %}{{ col.name.upper() }} = {% raw %}'${batch_date}'{% endraw %}{% if not loop.last %}, {% endif %}{% endfor %} )
SELECT{% for col in table_schema + addition_fields %}
    {% if not loop.first %}, {% endif %}{{ col.name.upper() }}{% endfor %}
    , {% raw %}'${batch_timestamp}'{% endraw %} AS ETL_TIMESTAMP -- etl processing time
FROM ${raw_schema}.{{ source.upper() }}_{{ table.upper() }}
WHERE {% for col in partition_fields %}{{ col.name.upper() }} = {% raw %}'${batch_date}'{% endraw %}{% if not loop.last %}
    AND {% endif %}{% endfor %}
;
